<form [formGroup]="formGroup" (ngSubmit)="convertCurrency()">
    <div id="splitter">
        <div class="binder">
            <mat-form-field appearance="outline" class="textBox">
                <input matInput formControlName="amount" />
            </mat-form-field>

            <div class="aligner">
                <mat-form-field appearance="outline" class="select">
                    <mat-label> {{ 'converter.from' | translate }} </mat-label>
                    <!-- <mat-label> Från </mat-label> -->
                    <mat-select
                        formControlName="fromCurrency"
                        #singleSelect
                        (selectionChange)="selectChanged()"
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                [formControl]="filterOptionsFrom"
                                placeholderLabel="Value"
                            >
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let v of filteredOptions | async"
                            [value]="v"
                        >
                            <div
                                class="mat-select-search-custom-header-content"
                            >
                                {{ v }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h5>{{ displayFrom }}</h5>
            </div>
        </div>

        <button
            mat-button
            color="primary"
            [disabled]="noValues"
            (click)="swapCurrencies()"
        >
            <mat-icon>swap_vert</mat-icon>
            <!-- BYT -->
            {{ 'converter.switch' | translate }}
        </button>

        <div class="binder">
            <mat-form-field appearance="outline" class="textBox">
                <input matInput disabled [value]="result" id="output" />
            </mat-form-field>

            <div class="aligner">
                <mat-form-field appearance="outline" class="select">
                    <mat-label> {{ 'converter.to' | translate}} </mat-label>
                    <!-- <mat-label> Till </mat-label> -->
                    <mat-select
                        formControlName="toCurrency"
                        #singleSelect
                        (selectionChange)="selectChanged()"
                    >
                        <mat-option>
                            <ngx-mat-select-search
                                [formControl]="filterOptionsTo"
                                placeholderLabel="Value"
                            >
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option
                            *ngFor="let v of filteredOptions2 | async"
                            [value]="v"
                        >
                            <div
                                class="mat-select-search-custom-header-content"
                            >
                                {{ v }}
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h5>{{ displayTo }}</h5>
            </div>
        </div>
    </div>
</form>
