<p>card-currency-converter works!</p>
<h1>{{ test }}</h1>

<form [formGroup]="formGroup" (ngSubmit)="convertCurrency()">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto"
        formControlName="fromCurrency">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let v of filteredOptions | async" [value]="v">
            {{v}}
        </mat-option>
    </mat-autocomplete>

    <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto"
        formControlName="toCurrency">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let v of filteredOptions2 | async" [value]="v">
            {{v}}
        </mat-option>
    </mat-autocomplete>

    <input type="text" placeholder="Pick one" aria-label="Number" formControlName="amount">

    <button class="button" type="submit">Convert</button>
</form>